.pl {
  background-color: #ffff99;
}
  
body {
  background-color: #797979;
}

h2 + h1 {
  background-color: #ffff99;
}
  
ul,p {
  background-color: #ffff99;
}
  
ol,li {
  background-color: #ffff99;
}

h1,h2 {
  background-color: #ffff99;
}

main {
  background-color: #ffff99;
}

footer {
  background-color: #ffff99;
}